.notification
  .notice  メッセージ送信成功
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name hanako
      %a.chat-side__user--new-group{href: "/"}
        %i.fa.fa-pencil-square-o{href: "#"}
      %a.chat-side__user--edit-user{href: "/"}
        %i.fa.fa-cog{href: "#"}
  .chat-side__groups
    .chat-side__groups-list
      %a{href: "/"}
        .chat-side__group
          .chat-side__group-name d
          .chat-side__group-message テキスト
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name d
      %a.chat-main__header--group-edit-btn{href: "/"} edit
    .chat-main__header-members MENBER: hanako
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message.clearfix
        .chat-main__message-name hanako
        .chat-main__message-time 2019/02/05 11:11:11
        .chat-main__message-body text
  .chat-main__footer
    %form#new_message.chat-main__footer-form
      %input.message#message_body{placeholder: "type a message", type: "text", name: "message[body]"}
      %label.fa.fa-image{for: "message_image"}
        %input.image#message_image{type: "file", name: "message[image]"}
      %input.submit{type: "submit", name: "commit", value: "Send"}
