.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  box-sizing: border-box;
  display: block;
  &__header{
    height: 15%;
    border: 1px solid #eee;
    &--group{
      margin: 0 40px;
      &-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn{
        color: #000;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid #38AEF0;
        float: right;
        text-decoration: none;
       }
    }
    &-members{
      color: $light_gray;
      font-size: 12px;
      margin: 0 40px;
      &i{
        font-style: italic;
      }
    }
  }
  &__body{
    height: calc( 100vh - 15% - 90px );
    overflow-y: scroll;
    &--messages-list{
      padding-top: 26px;
      padding-left: 40px;
    }
  }
  &__message{
    padding: 20px 0;
      &-name{
        color: $black;
        font-size: 16px;
        font-weight: bold;
        float: left;
      }
      &-time{
        color: $light_gray;
        font-size: 12px;
        padding: 0 10px 10px;
        float: left;
      }
      &-body {
        color: $black;
        font-size: 14px;
        clear: both;
      }
  }
  &__footer{
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
    &-form{
      margin: 0 40px;
      position: relative;
      .message{
        height: 50px;
        width: calc( 100% - 170px );
        padding: 0 10px;
        margin: 20px 0;
        border: none;
        display: inline-block;
        float: left;
      }
      .fa.fa-image{
        height: 50px;
        width: 40px;
        margin: 20px 0;
        margin-right: 10px;
        display: inline-block;
        float: left;
        line-height: 50px;
        background-color: $white;
        .image{
          position: absolute;
          top: 15px;
          left: 15px;
          display: none;
        }
      }
      .submit{
        color: $white;
        width: 100px;
        height: 50px;
        text-align: center;
        background-color: #38AEF0;
        margin: 20px 0;
        border: none;
        display: inline-block;
        float: left;
        }
     }
  }
}
