.side-bar{
  box-sizing: border-box;
  height: $tate;
  width: $sideyoko;
  float: left;
  .header{
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name{
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      color: $white
     }
    &__lists{
      float: right;
      display: inline-block;
      .list{
        display: inline-block;
      }
      .icon{
        color: $white;
        font-size: $side_header_font;
      }
   }
 }

     .groups {
       background-color: $side_blue_light;
       height: calc(100vh - 100px);
       padding: 0 20px;
       .group {
         padding: 20px 0 40px;
         box-sizing: border-box;
         &__name {
           color: $white;
           font-size: $side_group_name;
         }
         &__message {
          color: $white;
          font-size: $side_group_message;
          margin-top: 5px;
        }
     }
  }
}
