@mixin font(){
	display: inline-block;
	font-size: 16px;
}

@mixin margin(){
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

@mixin padding(){
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}